@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "General",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Categories",
        url = "/Categories",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Transactions",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/Transactions"
    });
    menuItems.Add(new
    {
        text = "Financial Advisor Chatbot",
        iconCss = "fa-solid fa-robot",
        url = "/Chat"
    });

    menuItems.Add(new
    {
        text = "Profile",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "View Profile",
        iconCss = "fa-solid fa-user",
        url = "/Identity/Account/Manage"
    });
    menuItems.Add(new
    {
        text = "View Roles and Users",
        iconCss = "fa-solid fa-user",
        url = "/UserRoles",
    });
    menuItems.Add(new
    {
        text = "Register",
        iconCss = "fa-solid fa-gear",
        url = "/Identity/Account/Register"
    }); 
    menuItems.Add(new
    {
        text = "Login",
        iconCss = "fa-solid fa-sign-in",
        url = "/Identity/Account/Login"
    }); 
    menuItems.Add(new
    {
        text = "Logout",
        iconCss = "fa-solid fa-sign-out",
        url = "/Identity/Account/Logout",
    });
}


<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>


        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });

</script>
