@model whsodergrenMIS421FinalProject.Models.ChatModel

@{
    ViewBag.Title = "Chat with OpenAI";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="widget">
                <h1 class="text-center">(Open AI key needed to work)</h1>
                <h2 id="h1-chat-question" class="text-center">Ask for Financial Advice</h2>
                <form asp-controller="Chat" asp-action="GetResponse" method="post" >
                    <input type="text" name="UserQuestion" class="form-control" id="UserQuestion" required>
                    <button disabled="true" type="submit" class="btn btn-success mt-2">Ask</button>
                </form>

                @if (!string.IsNullOrEmpty(Model.ResponseText))
                {
                    <div id="responseArea" class="messages">
                        <div class="question">Q: @Model.UserQuestion</div>
                        <div class="response">A: @Model.ResponseText</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

